<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your profile</h1>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.nickname}}" class="card-img-top img-thumbnail">
            <div class="card-body row">
                    <div class="col-6">
                        <div>
                            <strong>Pseudonim:</strong>
                            <p>{{member.nickname}}</p>
                        </div>
                        <div>
                            <strong>Imię:</strong>
                            <p>{{member.name}}</p>
                        </div>
                        <div>
                            <strong>Nazwisko:</strong>
                            <p>{{member.surname}}</p>
                        </div>
                        <div>
                            <strong>Nazwa użytkownika:</strong>
                            <p>{{member.userName}}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <strong>Wiek:</strong>
                            <p>{{member.age}}</p>
                        </div>
                        <div>
                            <strong>Ostatnia aktywność:</strong>
                            <p>{{member.lastActive | timeago}}</p>
                        </div>
                        <div>
                            <strong>Data dołączenia:</strong>
                            <p>{{member.created | date: 'longDate'}}</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="Edit Photos">
                <app-photo-edytor [member]="member"></app-photo-edytor>
            </tab>
        </tabset>
    </div>
</div>
