<div class="card mb-4" *ngIf="familyMember">
    <div class="card-img-wrapper" routerLink="/familyMembers/{{familyMember.id}}">
        <img src="{{familyMember.photoUrl || './assets/user.png'}}" alt="{{familyMember.name}}" class="card-img-top">
    </div>
    <div class="cadr-body p-1">
        <h6 class="card-title d-flex justify-content-center align-items-center mb-1">
            <span class="pt-1 pe-1" [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(familyMember.userName)">
                <fa-icon [icon]="faHeartPulse" size="xs"></fa-icon>
            </span>
            {{familyMember.nickname}}
        </h6>
    </div>
</div>
