<div class="container background-photo-container">
    <img class="background-photo" src="./assets/home_family.png">    
</div>

<div class="container w-75">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1 class="p-3">{{'welcomeToFamilyApp' | translate}}</h1>
        <div class="card bg-light mb-3 mt-5 shadow border" style="max-width: 100rem;">
            <div class="card-body">
              <p class="card-text">{{'familyAppDescription' | translate}}</p>
            </div>
          </div>

        <div class="text-center mt-5">
            <button *ngIf="(accountService.currentUser$ | async)" routerLink="/families" class="btn btn-primary btn-lg me-2 shadow-custom">{{'goToFamilies' | translate}}</button>
            <button *ngIf="(accountService.currentUser$ | async)" routerLink="/member/edit" class="btn btn-primary btn-lg shadow-custom">{{'yourProfile' | translate}}</button>
            <button *ngIf="!(accountService.currentUser$ | async)" (click)="registerToggle()" class="btn btn-primary btn-lg me-2">{{'register' | translate}}</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="w-50">
        <div class="row justify-content-center">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>