<div class="container mt-3 w-75">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="{{familyMember.photoUrl || './assets/user.png'}}" alt="{{familyMember.nickname}}" class="card-img-top img-thumbnail">
                <div class="card-body row">
                    <div class="mb-2" *ngIf="(presenceService.onlineUsers$ | async)?.includes(familyMember.userName)">
                        <i class="fa fa-user-circle text-success"></i> Aktywny teraz
                    </div>
                    <div class="col-6">
                        <div>
                            <strong>Pseudonim:</strong>
                            <p>{{familyMember.nickname}}</p>
                        </div>
                        <div>
                            <strong>Imię:</strong>
                            <p>{{familyMember.name}}</p>
                        </div>
                        <div>
                            <strong>Nazwisko:</strong>
                            <p>{{familyMember.surname}}</p>
                        </div>
                        <div>
                            <strong>Nazwa użytkownika:</strong>
                            <p>{{familyMember.userName}}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <strong>Wiek:</strong>
                            <p>{{familyMember.age}}</p>
                        </div>
                        <div>
                            <strong>Ostatnia aktywność:</strong>
                            <p>{{familyMember.lastActive | timeago}}</p>
                        </div>
                        <div>
                            <strong>Data dołączenia:</strong>
                            <p>{{familyMember.created | date: 'longDate'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 container">
            <gallery *ngIf="familyMember.userPhotos.length > 0" [items]="images" class="gallery"></gallery>
            <div *ngIf="familyMember.userPhotos.length == 0">
                Brak zdjęć
            </div>
        </div>
    </div>
</div>
