<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{familyMember.photoUrl || './assets/user.png'}}" alt="{{familyMember.nickname}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presenceService.onlineUsers$ | async)?.includes(familyMember.userName)">
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Name:</strong>
                    <p>{{familyMember.name}}</p>
                </div>
                <div>
                    <strong>Surname:</strong>
                    <p>{{familyMember.surname}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{familyMember.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{familyMember.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Mamber since:</strong>
                    <p>{{familyMember.created | date: 'longDate'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Line</button>
                    <button (click)="selectTab('Messages')" class="btn btn-success">Messages</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="familyMember-tabset" #familyMemberTabs>
            <tab heading="Photos" #photoTab="tab" (selectTab)="onTabActivated($event)">
                <gallery *ngIf="photoTab.active && familyMember.photos.length > 0" [items]="images" class="gallery"></gallery>
                <div *ngIf="photoTab.active && familyMember.photos.length == 0">
                    No photos to show
                </div>
            </tab>
        </tabset>
    </div>
</div>
