<form class="container w-50" [formGroup]="addFamilyMemberForm" (ngSubmit)="addFamilyMemberForm.valid && inviteFamilyMember()" autocomplete="off">
    <h2 class="text-center text-primary m-3">{{'inviteNewFamilyMember' | translate}}</h2>

    <app-text-input [formControl]="$any(addFamilyMemberForm.controls['username'])" [label]="'nazwa użytkownika'">
    </app-text-input>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-denger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center m-3">
        <button [disabled]="!addFamilyMemberForm.valid" class="btn btn-success me-2" type="submit">{{'inviteFamilyMember' | translate}}</button>
        <button class="btn btn-danger" type="button" (click)="cancel()">{{'cancel' | translate}}</button>
    </div>
</form>