<div class="container card w-50">
    <div class="card-body">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            {{'noMessages' | translate}}
        </div>
        <ul 
            #scrollMe
            class="chat"
            [scrollTop]="scrollMe.scrollHeight"
            *ngIf="(messageService.messageThread$ | async)!.length > 0">
            <li *ngFor="let message of (messageService.messageThread$ | async)" 
                [ngClass]="{'message-left': message.senderUsername != username, 'message-right': message.senderUsername == username}">
                
                <!-- User image -->
                <span class="chat-img">
                    <img 
                        class="rounded-circle"
                        src="{{message.senderPhotoUrl || './assets/user.png'}}"
                        alt="image of user">
                </span>
                
                <!-- Message body -->
                <div class="chat-body">
                    <div class="header">
                        <small class="text-muted">
                            <span class="fa fa-clock-o">{{message.messageSent | timeago}}</span>
                        </small>
                    </div>
                    <p>{{message.content}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                    name="messageContent"
                    required
                    [(ngModel)]="messageContent"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="{{'sendMessage' | translate}}">
                <div class="input-group-append ms-1">
                    <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">{{'send' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
